fastapi
uvicorn[standard]
pinecone
pinecone-client
sentence-transformers
python-dotenv 
pypdf
pyautogen
autogen
pypdf
sentence-transformers

dotenv
langchain
langchain-community
langchain-huggingface
langchain-pinecone

react
react-dom
react-router-dom